*{
    padding:0;
    margin:0;

}
body{
    background-color: black;
}

.main{
    background-image: url(assets/images/logo_files/background\ image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: (1200px 100vw);
    height:70vh;
    position:relative;
}
.main .box{
    height:70vh;
    width:100%;
    opacity:0.69;
    background-color: black;
    position:absolute;
    top:0;
}

nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
}

nav img{
    color:red;
    width:114px;
    position: absolute;
    z-index: 10;
}

nav button{
    position:relative;
    z-index:10;
}

.hero{
    height: calc(100%-62px);
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans',sans-serif;
    gap: 20px;
    padding: (0 23px);
    text-align: center;
}

.hero> :first-child{
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    align-items: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    align-items: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    align-items: center;
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(95, 80, 80, 0.4);
    color: rgb(213, 215, 216);
    border:1px;
    border-radius: 4px;
    cursor: pointer;

}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding:7px 101px 8px 15px;
    font-weight: 900;
    color:white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border:1px white;
}
.separator{
    height:5px;
    background-color: rgb(78, 76, 76);
}
.first{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 50vw;
    color: white;
    align-items: center;
}
.texty{
    font-weight: 400;
    font-size: 40px;
    padding-right: 150px;
    padding-top: 100px;
}
.textyz{
    font-weight: 300;
    font-size: 20px;
    padding-right: 150px;
    padding-top: 20px;
    
}
.vincenzo{
    font-weight: 400;
    font-size: 40px;
    padding-right: 150px;
    padding-top: 20px
}
.secimage{
    position:relative;
    padding-bottom: 100px;
    padding-right: 50px;
}
.secimage img{
    width:30vw;
    position:absolute;
    z-index: 3;
    opacity:100%
    
}
.secimage video{
    position:absolute;
    width:30vw;
    height:17vw;
    
    z-index: 0;

}
.secimage img:hover{
    z-index: -1;
    opacity: 0%;
}
.separater{
    height:5px;
    background-color: rgb(78, 76, 76);
    
}
.footerr{
    padding-left: 30vw;
    padding-right: 30vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
    font-weight: bold;
    background-color: rgba(95, 80, 80, 0.4);
    color: rgb(213, 215, 216);
    border:10px;
    border-radius: 4px;
    cursor: pointer; 
    align-items: center;
    justify-content: space-between;
}
.foot{
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background-color: rgba(110, 102, 102, 0.4);
    color: rgb(213, 215, 216);
    border:1px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.foot:hover{
    background-color: red;
}
.icon{
    justify-content: flex-end;
}